.navbar {
    background-color: #C0EBA6;
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid black;
    border-left: none;
    border-bottom-right-radius: 50px;
    width: 25%;
    min-width: 160px;    
    max-width: 300px;
}

.desktopNavbar {
    display: block;
    min-height: 600px;
    padding-right: 10px;
}

.navtext {
    margin-top: 170px;
    margin-bottom: 20px;
    text-align: center;
    color: #347928;
    font-size: calc(20px + 8 * (100vw - 320px) / 880);
}

.navitemsWrapper {
    padding-left: 3vw;
}

.navitem {
    font-size: calc(13px + 10 * (100vw - 320px) / 880);
    text-wrap: wrap;
    margin-bottom: 20px;
    max-width: 100px;
}

.navitemLink, .navitem {
    text-decoration: none;
    transition: 0.25s;
    color: #006BFF;
}

.navitemLink:hover {
    color: #0047AA;
}

/* Mobile navbar */
.mobileNavbar {
    display: none;
    min-height: 70px;
}

.openMobileNavbarBtn {
    text-align: center;
    margin-left: 10%;
}

@media screen and (width <= 660px){
    .mobileNavbar {
        display: block;
    }

    .mobNavItems {
        margin-left: 15%;
    }

    .navitemsWrapper {
        margin-left: 0;
    }

    .desktopNavbar {
        display: none;
    }

    .navtext {
        margin-top: 140px;
        margin-bottom: 10px;
    }
}